<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


<!--    扫描 把controller 注入到ioc容器中-->
    <context:component-scan base-package="com.sxt">
    </context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>

<!--
        页面 为了安全.一般都是 把页面 写到 web-inf下面
        浏览器这里不能直接访问
        服务器的内部可以访问的
            mv.setViewName("/WEB-INF/view/success.jsp");  (内部操作和 forward 转发 )

        可以配置视图解析器
-->
    <!-- 配置SpringMVC的视图解析器: 配置前缀和后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置视图跳转的前缀 -->
        <property name="prefix" value="/WEB-INF/view/"/>
        <!-- 配置视图跳转的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>