<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--    扫描 把controller 注入到ioc容器中-->
    <context:component-scan base-package="com.sxt">
    </context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>

<!-- 注册转换器  -->
<!--    <mvc:annotation-driven conversion-service="conversionDateService"></mvc:annotation-driven>-->

    <!--   资源的处理 用 tomcat 默认的servlet处理器
        tomcat的默认的servlet 不会拦截 静态资源(image/hmlt/js / css)
 -->
    <mvc:default-servlet-handler/>

<!--    &lt;!&ndash; 转换器配置 &ndash;&gt;-->
<!--    <bean id="conversionDateService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">-->
<!--        <property name="converters">-->
<!--            <set>-->
<!--                <bean class="com.sxt.convert.DateConvert" />-->
<!--            </set>-->
<!--        </property>-->
<!--    </bean>-->

</beans>